In [24]:
index = pd.date_range('now', freq='60s', periods=12)

In [25]:
df = pd.DataFrame(np.random.randint(low=1, high=3, size=(12,2)),index = index)
df

                            0  1
2015-08-31 21:48:53.303448  1  2
2015-08-31 21:49:53.303448  1  1
2015-08-31 21:50:53.303448  1  1
2015-08-31 21:51:53.303448  1  2
2015-08-31 21:52:53.303448  2  1
2015-08-31 21:53:53.303448  2  1
2015-08-31 21:54:53.303448  1  1
2015-08-31 21:55:53.303448  2  2
2015-08-31 21:56:53.303448  2  1
2015-08-31 21:57:53.303448  2  2
2015-08-31 21:58:53.303448  2  2
2015-08-31 21:59:53.303448  1  2

In [27]:
df.resample('3min')

                            0         1
2015-08-31 21:48:00  1.000000  1.333333
2015-08-31 21:51:00  1.666667  1.333333
2015-08-31 21:54:00  1.666667  1.333333
2015-08-31 21:57:00  1.666667  2.000000